dataset/
datasets/
raw_neu/
raw_severstal/
raw_casting/
raw_pcb/
raw_pcb2/
raw_magnetic/
raw_fabric/
raw_leather/
raw_concrete/
raw_mvtec/
raw_solar/
raw_solar2/
raw_welding/
raw_gc10/
raw_solder/
raw_pcb_aoi/
test_download/
checkpoints/
outputs/
__pycache__/
*.pyc
*.pth